@inherits SaguaNavLinkBase

<li class="nav-item">


    @{
        if (HasChildren)
        {
            <a class="nav-link @(MenuNode.IsActive?"active":"")" aria-expanded="@(IsOpen?"true":"false")" href="javascript:;" @onclick=OpenCloseClick>
                @{
                    if (!string.IsNullOrEmpty(MenuNode.Icon))
                    {
                        <span class="@MenuNode.Icon"></span>
                    }
                }

                @MenuNode.Title
            </a>

            <div class="collapse @(IsOpen?"show":"")">
                <ul style="list-style: none;" class="flex-column">
                    @{
                        foreach (var child in MenuNode.Children)
                        {
                            <Sagua.Sitemap.Blazor.Components.SaguaNavLink MenuNode="child"></Sagua.Sitemap.Blazor.Components.SaguaNavLink>
                        }
                    }
                </ul>
            </div>
        }
        else
        {
            <a class="nav-link @(MenuNode.IsActive?"active":"")" aria-expanded="@(IsOpen?"true":"false")" href="@MenuNode.Path">
                @{
                    if (!string.IsNullOrEmpty(MenuNode.Icon))
                    {
                        <span class="@MenuNode.Icon"></span>
                    }
                }

                @MenuNode.Title
            </a>
        }
    }
</li>
